/* "bootstrap/dist/css/bootstrap.min.css"; */

.custom-input {
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 0;
}
main {
    padding: 20px;
}

.font-weight-semibold {
    font-weight: 600;
}


.review-stars svg {
    margin: 10px 3px 0 0;
    color:rgb(0, 255, 13);
}

.review-stars.green svg {
    color:rgb(0, 255, 13);
}

.review-stars.red svg {
    color: #f00;
}

.line {
    border-bottom: 1px solid #f1f1f1;
    margin: 30px 0;
}


.field {
    padding-top: 30px;
    display: flex;
    /* flex-direction: column; */
}

label.moving-fn {
    padding-left: 5px;
    transition: all 0.3s ease-in;
    transform: translateY(-25px);
    pointer-events: none;
    position: absolute;
}

input:focus + label.moving-fn {
    transform: translateY(-30px);
    font-size: 14px;
}


input.form-control {
    border:none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding: 10px 5px;
    height: 25px;

}
input.form-control:focus {
    box-shadow: none;
}
